# Ignore some static files and directories.
/.buildpath
/.project
/.settings
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/wiki
!/modules/wiki/*
/themes/*
!/themes/admin_default/css/wiki.css
!/themes/admin_default/js/wiki.js
!/themes/admin_default/images/wiki
!/themes/admin_default/images/wiki/*
!/themes/admin_default/modules/wiki
!/themes/admin_default/modules/wiki/*
!/themes/default/css/wiki.css
!/themes/default/js/wiki.js
!/themes/default/js/wiki-*.js
!/themes/default/images/wiki
!/themes/default/images/wiki/*
!/themes/default/modules/wiki
!/themes/default/modules/wiki/*
/.project
/vendor/
/.gitattributes
/composer.json
/composer.lock
/composer.phar
/error.php
